*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.showcase
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    z-index: 2;
}

.showcase header
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.30);
    border-bottom: 1px solid rgba(255, 255, 255, 0.527);
}

.navbar ul li
{
    display: inline;
    font-size: 1rem;
    margin: 0;
}


.navbar a
{
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    margin: 0;
    transition: all 0.5s;
}

.navbar a:hover
{
    border-bottom: 1px solid white;
    transition: all 1s;
}

.connect a 
{
    background-color: rgba(50, 126, 48, 0.83);
    transition: all 0.1s;
}

.connect a:hover
{
    border-bottom: none;
    background-color: white;
    color: #084A07;
    
}

.showcase.active 
{
    right: 300px;
}

.logo
{
    text-transform: uppercase;
    cursor: pointer;
}

/*
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    background: url("menu.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active 
{
    background: url("close.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
*/
.showcase video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.548);
   /* mix-blend-mode: overlay; */
}


.text
{
    position: relative;
    z-index: 10;
}

.text h2 
{
    font-size: 5rem;
    font-weight: 800;
    
    text-transform: uppercase;
}

.text h3 
{
    font-size: 3rem;
    font-weight: 700;
  
    text-transform: uppercase;
}

.text p 
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a
{
    display: inline-block;
    font-size: 1rem;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s;

}

.text a:hover
{
    letter-spacing: 6px;
} 

.social 
{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    align-items: center;

}

.social li
{
    list-style: none;
}

.social li a 
{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: all 0.5s;

}

.social li a:hover
{
    transform: scale(0.5) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul 
{
    position: relative;
    list-style: none;
}

.menu ul li a 
{
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover 
{
    color: rgb(8, 139, 47);
}

main 
{
    width: 100%;
    height: 800px;
    background-color: black;
}
 


@media screen and (max-width: 991px)
 {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3rem;

    }
    .text h {
        font-size: 2rem;
        
    }
}

